.zhuige-comment-line-depth-1 {}

.zhuige-comment-line-depth-2 {
	margin-left: 40px;
}

.zhuige-comment-line-depth-3 {
	margin-left: 80px;
}

.zhuige-comment-line-depth-4 {
	margin-left: 120px;
}

.zhuige-comment-line-depth-5 {
	margin-left: 160px;
}

.zhuige-prd-base .zhuige-prd-opt.active {
	background: #1173EB;
	border: none;
}

.zhuige-prd-base .zhuige-prd-opt.active a {
	color: #FFF
}

/*** 评论框 ***/
.comment-form-box {
	margin-bottom: 10px;
	font-size: 15px;
}

.comment-form-comment label {
	display: none;
}

.comment-form-comment textarea {
	width: 100%;
	padding: 10px;
	min-height: 120px;
	border: 1px solid #CCC;
}

.comment-form-box ul {
	display: flex;
	padding: 10px 0;
}

.comment-form-box li {
	line-height: 3em;
	height: 3em;
	display: inline-flex;
	border: 1px solid #CCC;
	width: 33%;
	overflow: hidden;
	margin-right: 2%;
}

.comment-form-box li.comment-form-url {
	margin-right: 0;
}

.comment-form-box li label {
	overflow: hidden;
	text-indent: 10px;
	font-size: 12px;
}

.comment-form-box li input {
	flex: 1;
	height: 2.2em;
	line-height: 2.2em;
	font-size: 15px;
	width: 100px;
}

.comment-form-user {
	height: 50px;
	line-height: 50px;
	margin-bottom: -50px;
	padding: 0 20px;
	font-size: 12px;
}

.comment-form-user a {
	color: #FF3D00;
	margin: 0 8px;
	font-weight: 500;
	font-size: 15px;
}

.comment-form-user a:last-child {
	font-weight: 200;
	font-size: 12px;
	padding: 5px 10px;
	border-radius: 2px;
	background: #FF3D00;
	color: #FFF;
}

.form-submit {
	display: flex;
	height: 50px;
	justify-content: flex-end;
}

.form-submit input {
	color: #FFF;
	background: #1173EB;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
}

/*** 评论框 End ***/

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
.slide-in {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-top {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}